body{
    max-width: 350px;
    min-width: 350px;
}
.panel{
    padding: 5px, 30px, 30px 10px !important;
}
ul {
    list-style-type: none;
    margin-left: -20px;
}
h3{
    margin-left: 20px;
}
#logo{
    max-width: 100px;
    margin-left: 100px;
}